<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>このアプリではカメラを使用して写真を撮影します。</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>このアプリでは動画を撮影するためにマイクを使用します。</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>撮影した写真を保存するために写真ライブラリにアクセスします。</string>
</dict>
</plist>
